// Font
$mainFont: "segoe_ui",
Helvetica,
Arial,
sans-serif;

//develop
$br: 1px solid #333;

// Size
$mainFontColor: #101010;
$mainFontSize: 16px;
$mainFontWeight: 400;
$mainLineHeight: rem(21);

$fullHDWidth: 1920px;
$desktopWidth: 1280px;
$smDesktopWidth: 980px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

// Main color
$icon-active: #0075ff;
$border: 1px solid rgba(0, 0, 0, 0.08);

//
$widthContainer: 40rem;